.navbar-simple {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-simple.fixed {
  position: fixed;
  width: 100%;
  z-index: 900;
  opacity: 0.9;
  top:0;
  left:0;
}

.navbar-simple a {
  text-decoration: none;
  color:rgba(0,0,0, 0.9);
}

.navbar-simple .navbar-logo {
  width: 40px;
}

.navbar-simple .navbar-right {
  flex:0 0 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
