    <div class="navbar-simple">
      <% link_to "index.html", class: "navbar-brand" do %>
        <%= image_tag "lewagon.png", class: "img-circle navbar-logo" %>
      <% end %>


      <div class="navbar-right hidden-xs">
        <a href="#">Profile</a>
        <%= link_to "Team", "team.html" %>
        <a href="#">Dashboard</a>
        <a href="#">Logout</a>

        <div class="dropdown">
          <img src="http://placehold.it/50x50" alt="" class="img-circle" id="dropdown-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <ul class="dropdown-menu" aria-labelledby="dropdown-profile">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </div>

      </div>

      <div class="visible-xs">
        <div class="dropdown">
          <i class="fa fa-bars" id="dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
